[submodule "machine-learning-housing-price-predection"]
	path = machine-learning-housing-price-predection
	url = https://github.com/Bifenzine/machine-learning-housing-price-predection.git
[submodule "Repositories/atpML"]
	path = Repositories/atpML
	url = https://github.com/kathyygong/atpML.git
[submodule "Repositories/ml-price-prediction-with-linear-regression"]
	path = Repositories/ml-price-prediction-with-linear-regression
	url = https://github.com/CreativeCreate/ml-price-prediction-with-linear-regression.git
[submodule "repos/cancer_prediction"]
	path = repos/cancer_prediction
	url = https://github.com/joemathew2004/cancer_prediction.git
